<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MyDatabases" connectionString="data source=.;initial catalog=Northwind;integrated security=False;Password=1;User ID=sa;multipleactiveresultsets=True;"/>
  </connectionStrings>
</configuration>